* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 2000px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-size: 100% auto;
    background: linear-gradient(0deg, #82BEC0 10%, #B7BEBC 30%, #E1AD9E 50%, #B7BEBC 70%, #82BEC0 90%);

}


input {
    height: 45px;
    z-index: 1;
    width: 100%;
    color: #7c4747;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #7c4747;
    border-radius: 5px;
    padding-left: 10px;

}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-tittle {
    color: #7c4747;
    font-weight: 500;
    line-height: 42px;
}

.register-form-container {
    position: relative;
    z-index: 2;
    height: 200px;
    max-width: 600px;
    background: url("/img/intro.jpeg");
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-field {
    margin-bottom: 13px;
}

.button {
    display: block;
    height: 25px;
    width: 340px;
    background: #7c4747;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}





