body {
    margin: 0;
    height: 2000px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-size: 100% auto;
    background: linear-gradient(0deg, #82BEC0 10%, #B7BEBC 30%, #E1AD9E 50%, #B7BEBC 70%, #82BEC0 90%);

}

.header {
    width: 100%;
    padding-top: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_logo {
    transform: translate(440px, 10px);
    display: inline-block;
    margin: 0;
    color: #7c4747;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Balsamiq Sans', cursive;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.profile_container {
    width: 100%;
    height: 150px;
    display: inline-block;
}

form {
    margin: 20px;
}

.q {
    background-color: white;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;

}

.questions {
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

h1 {
    color: #7c4747;
    font-family: 'Balsamiq Sans', cursive;
    display: inline-block;
    margin: auto;


}

button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #7c4747;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 16px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 24px;
}

th {
    font-size: 28px;
}


p {
    padding-left: 10px;
    padding-right: 10px;
}


.q-table {
    padding-left: 10px;
    padding-right: 10px;
}


textarea {
    resize: none;
    width: 94%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    margin: 2% 3% auto;
}

input {
    width: 94%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    margin: 2% 3% auto;
}